task_1.pdf
task_2.pdf
task_3.pdf
task 4.pdf
task_5.pdf
build/
*.elf
*.o
*.bin
*.map
*.uf2
*.vscode/
test_crc/
*.csv
test_from_port.csv
test_to_csv.csv
*.vscode
*.csv
*.png
*.jpg
*.py
build/
include/
src/
*.gitmodules
*.github/workflows
task1/Task1
task2/
task3/
task4/
Mgs_project_CICD_TDD
