build/

# compiled output
*.o
*.elf
*.bin
*.map
*.uf2

# python env
.venv/
modbus_env/

# csv fles
test_from_port.csv
test_to_csv.csv

# iimages 
*.csv
*.png
*.jpg

# IDE
.vscode/

# folderss
test_crc/#
